body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

/* header start*/

.header {
}
.header-nav {
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo-span {
  color: #2e2f42;
}
.header-nav-list {
}
.header-nav-list-items {
}
.header-nav-list-items-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-nav-list-items-link:hover,
.header-nav-list-items-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}
.header-address-list {
}
.header-address-list-items {
}
.header-address-list-items-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-list-items-link:hover,
.header-address-list-items-link:focus {
  color: #404bbf;
}

/* header end*/

/* hero-banner start*/
.hero-banner {
  background-color: #2e2f42;
}
.hero-banner-title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.hero-banner-button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;

  background: #4d5ae5;
}

.hero-banner-button:hover,
.hero-banner-button:focus {
  background: #404bbf;
}
/* hero-banner end*/

/* features start */
.features {
}
.features-list {
}
.features-list-items {
}
.features-list-items-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features-list-items-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* features end */

/* teams start */
.team {
  background-color: #f4f4fd;
}
.team-title {
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list {
}
.team-list-items {
  background-color: #ffffff;
}
.team-list-items-img {
}
.team-list-items-title {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-list-items-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* teams end */

/* portfolio start */
.portfolio {
}
.portfolio-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list {
}
.portfolio-list-items {
}
.portfolio-list-items-img {
}
.portfolio-list-items-title {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-list-items-text {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* portfolio end */

/* footer start */
.footer {
  background: #2e2f42;
}

.footer-logo-span {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* footer end*/
